<div class="b-b b-r all-day day-hour"
     ng-repeat="n in [] | range:24"
     ng-click="line.clickEvent(n, $event)">
    <span class="half-hour"></span>

</div>

<div class="event"
     ng-repeat="event in line.events"
     ng-style="event.style"
     ng-class="{'continued-before': event.continuedBefore, 'continued-after': event.continuedAfter}"
     ng-click="planning.eventCallback({'event':event})">
    <!--<span class="calendar-urgency bg-pink"></span>-->

    <div class="event-line-container" style="">
        <div class="event-line" ng-style="{'background-color': event.color}" ng-if="!event.continuedBefore"></div>
    </div>

    <div class="title-container"><span>{{event.title}}</span></div>
</div>