<div class="left-column" ng-switch="planningLeftColumn.mode">
    <div class="planning-head"></div>
    <div class="left-body">
    <div class="planning-2pc"></div>
        <div class="days-body" ng-switch-when="week">
            <div class="dayName row8 b-b animate"
                 ng-repeat="day in planningLeftColumn.days"
                    ng-class="{today: planning.isToday(day.dayOfYear()), isFerie: planning.isFerie(day)}"
                    ng-click="planning.dayCallback({$day:day})">
                <h4>
                    {{day | format:'dddd' | capitalize}}<br>
                    <small>{{day | format:'ll'}}<span class="holidays" ng-if="planning.isFerie(day)">férié</span></small>
                </h4>
                <div
                    class="absents-container" 
                    tooltip-append-to-body="true" 
                    ng-if="planningLeftColumn.absents.length"
                    uib-tooltip-html="planningLeftColumn.absentsString">
                    {{planningLeftColumn.absents.length}} absent(s)
                </div>
            </div>
            
        </div>
        <div class="days-body" ng-switch-when="day">
            <div class="dayName row8 b-b animate"
                 ng-repeat="col in planningLeftColumn.column">
                <h4>
                    {{col}}
                </h4>
            </div>
        </div>
    </div>
    <div style="height:10px"><!-- compensate for scrollbar --></div>
</div>