<div class="left-column planning-left-column" ng-switch="planningLeftColumn.mode">
    <div class="planning-head"></div>
    <div class="left-body">
    <div class="planning-2pc">
        <span class="holidays" ng-if="planningLeftColumn.isFerie && !planningLeftColumn.isSolidarityDay(planningLeftColumn.position) && (planningLeftColumn.mode === 'day' || planningLeftColumn.mode === '3days')">
            Férié
        </span>
        <span class="solidarityDay" style="margin-top:1px!important;" ng-if="planningLeftColumn.isSolidarityDay(planningLeftColumn.position) && (planningLeftColumn.mode === 'day' || planningLeftColumn.mode === '3days')">
             Journée de solidarité
        </span>
    </div>
        <div class="days-body" ng-switch-when="week">
            <div class="dayName row8 b-b animate"
                 ng-repeat="day in planningLeftColumn.days track by $index"
                    ng-class="{today: (planning.isToday(day.dayOfYear())), isFerie: planning.isFerie(day)}"
                    ng-click="planning.dayCallback({$day:day})">
                <h4>
                    {{day | format:'dddd' | capitalize}}<br>
                    <small>{{day | format:'ll'}}<span class="holidays" ng-if="planning.isFerie(day)">férié</span></small>
                </h4>
                <div ng-click="$event.stopPropagation()" class="day-absence" ng-if="planningLeftColumn._absences[$index].length">
                    <div
                        class="absents-container"
                        ng-click="planning.showAbsencesCallBackWrapper(planningLeftColumn._absences, $index)">
                        {{ planningLeftColumn._absences[$index].length }} absent(s)
                    </div>
                </div>
            </div>

        </div>
        <div class="days-body" ng-switch-when="day">
            <div class="dayName dayNameDuplication row8 b-b animate"
                    ng-if="planningLeftColumn.activateDuplicationButtons" 
                    uib-popover-template="'planningDayPopOver.html'" 
                    popover-placement="right" 
                 ng-repeat="tech in planningLeftColumn.column">
                <h4 class="techname">
                    {{tech.fullname || ''}}
                </h4>
            </div>
            <div class="dayName row8 b-b animate"
                    ng-if="!planningLeftColumn.activateDuplicationButtons" 
                    uib-popover-template="'planningDayPopOver.html'" 
                    popover-placement="right" 
                 ng-repeat="tech in planningLeftColumn.column">
                <h4 class="techname">
                    {{tech.fullname || ''}}
                </h4>
            </div>
        </div>
    </div>
    
    <script type="text/ng-template" id="planningDayPopOver.html">
        <button ng-if="planningLeftColumn.activateDuplicationButtons" class="btn btn-primary" style="width: 100%; margin-bottom: 5px;" ng-click='planningLeftColumn.triggerDayEvent(tech)'>Dupliquer la journée</button>
        <button ng-if="planningLeftColumn.activateDuplicationButtons"  class="btn btn-primary" style="width: 100%;" ng-click='planningLeftColumn.triggerDayEvent(tech, true)'>Déplacer la journée</button>
     </script>
    <div style="height:10px"><!-- compensate for scrollbar --></div>
</div>
