.b-r {
  border-right: 1px solid #eaeef1;
}
.b-b {
  border-bottom: 1px solid #eaeef1;
}
zl-planning {
  height: 100%;
}
.today {
  background-color: lightgrey !important;
}
.planning-body {
  height: 100%;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.planning-2pc {
  display: block;
  height: 2%;
  width: 100%;
}
.hour-cursor {
  border-left: 1px solid #03a9f4;
  position: absolute;
  height: 100%;
  z-index: 1;
  border-right: 5px solid transparent;
}
.hour-cursor .hour-caret {
  position: absolute;
  top: -5px;
  right: -4px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #03a9f4;
}
zl-planning-line.ng-animate {
  transition: none;
  keyframe: 0s none;
}
.left-column {
  width: 16.7%;
  float: left;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.planning-head {
  height: 40px;
}
.left-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.days-body {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.dayName {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.dayName h4 {
  margin: auto;
}
.day-hour {
  text-align: center;
  height: 100%;
  display: inline-block;
}
.planning-top-row .day-hour {
  margin: 0 75px 0 -75px;
}
.planning-top-row .day-hour:first-child {
  margin: 0 45px 0 -45px;
}
.planning-top-row {
  z-index: 1;
  height: 40px;
}
.slider {
  overflow-x: scroll;
  overflow-y: hidden;
}
.slider::-webkit-scrollbar {
  -webkit-appearance: none;
}
.slider::-webkit-scrollbar:vertical {
  width: 11px;
}
.slider::-webkit-scrollbar:horizontal {
  height: 10px;
}
.slider::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white;
  /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}
.slider::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
}
.day {
  display: flex;
  flex: 1;
  height: 100%;
  position: relative;
  cursor: cell;
  background: #FFF;
  -webkit-transition: 0.50s flex;
  -moz-transition: 0.50s flex;
  -ms-transition: 0.50s flex;
  transition: 0.50s flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  overflow: hidden !important;
}
.day:hover {
  background: #fcfcfc;
}
.day .event {
  text-align: center;
  color: #ffffff;
  position: absolute;
}
.day .day-today > .day-hour {
  background: #dcedc8;
}
.day .day-passed > .day-hour {
  background: #e0e0e0;
}
.day .day-hour {
  height: 100%;
  display: inline-block;
}
.day .half-hour {
  pointer-events: none;
  display: inline-block;
  height: 100%;
  width: 1px;
  border-right: 1px dashed #eaeef1;
}
.day-open {
  -webkit-flex: 2 400px;
  -moz-flex: 2 400px;
  -ms-flex: 2 400px;
  flex: 2 400px;
}
.event {
  border: 1px lightgrey solid;
}
.event-line-container {
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 1px;
  float: left;
}
.event-line {
  float: left;
  height: 100%;
  width: 3px;
  background-color: white;
}
.title-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  line-height: 200%;
  text-align: center;
}
.title-container span {
  text-overflow: ellipsis;
}
.title-container span {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.continued-before:before {
  content: '\2026';
  float: left;
  font-size: 0.7em;
}
.continued-after .title-container {
  width: 60%;
}
.continued-after:after {
  content: '\2026';
  z-index: 10;
  float: right;
  font-size: 0.7em;
}
.month-container {
  width: 100%;
  height: 100%;
  border-top: 1px solid darkgray;
  border-left: 1px solid darkgray;
}
.month-container .week-0 {
  border: 1px solid red;
  height: 20%;
  width: 100%;
  top: 0%;
}
.month-container .week-1 {
  border: 1px solid red;
  height: 20%;
  width: 100%;
  top: 20%;
}
.month-container .week-2 {
  border: 1px solid red;
  height: 20%;
  width: 100%;
  top: 40%;
}
.month-container .week-3 {
  border: 1px solid red;
  height: 20%;
  width: 100%;
  top: 60%;
}
.month-container .week-4 {
  border: 1px solid red;
  height: 20%;
  width: 100%;
  top: 80%;
}
.month-container .day-block {
  width: 14.28%;
  height: 20%;
  float: left;
  border-right: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  position: relative;
}
.month-container .day-block .events-container {
  margin-top: 26px;
}
.month-container .day-block .events-container .month-event {
  height: 10px;
  font-size: 7px;
  margin-top: 1px;
}
.month-container .day-block .day-number {
  float: right;
  margin: 2px;
  height: 20px;
}
