<ul class="dropdown-menu context-menu" ng-click="$event.stopPropagation();" style="z-index: 10">
    <li ng-if="!event.eventList.length && !ev.eventList.length">
        <a ng-click="planning.action({$element: event || ev})">
            <i class="mdi mdi-chevron-down"></i> Ouvrir dans un nouvel onglet {{event.eventList.length}}</a>
    </li>
    <li ng-if="!event.eventList.length && !ev.eventList.length">
        <a ng-click="planning.duplicateAction({$element: event || ev})">
            <i class="mdi mdi-chevron-down"></i> Dupliquer l'intervention {{event.eventList.length}}</a>
    </li>
</ul>
