<div ng-if="planning.mode ==='day' || planning.mode === 'week'" style="height: 100%;">
    <zl-planning-left-column mode="planning.mode" position="planning.position" day-field="planning.dayField" usable-days="planning.allowedDays"
                             events="planning.sortedEvents" absences="planning.absences"></zl-planning-left-column>
    <div class="" style="height:100%">
        <div zl-horizontal-scroll scroll-left="planning.currentTimeToPixels()" style="height:100%">
            <div ng-style="{width: planning.width}" class="planning-body">
                <zl-planning-top-row mode="planning.mode" zoom="planning.zoom" position="planning.position"
                                     day-start="planning._dayStart" day-end="planning._dayEnd"></zl-planning-top-row>
                <div class="hour-cursor" ng-style="{left: planning.currentTimeToPixels()+'px'}"
                     ng-if="planning.isCurrent() && planning.isInDayRange()">
                    <div class="hour-caret"></div>
                </div>
                <div class="planning-2pc"></div>
                <zl-planning-line ng-if="planning.mode === 'day'"
                        zoom="planning.zoom" absences="planning.absences[i]" position="planning.position"
                        day-start="planning._dayStart" day-end="planning._dayEnd"
                        ng-repeat="i in planning.keys(planning.sortedEvents)" class="day b-b"
                        ng-class="{today: planning.isToday(i)}" events="planning.getEvents(i)"
                        pauses="planning.entitiesPauses[i]"
                        drop-callback="planning.dropEvent({h: $hour, m: $minutes, d: i, entity: i, $data: $data, $event: $event})"
                        click-callback="planning.clickCallbackWrapper({h: $hour, m: $minutes, d: i, entity: i})"></zl-planning-line>

                <zl-planning-line ng-if="planning.mode === 'week'"
                        zoom="planning.zoom"
                        ng-repeat="day in planning.usableDays"
                        absences="planning.absences"
                        day-start="planning._dayStart" day-end="planning._dayEnd" class="day b-b"
                        ng-class="{today: planning.isToday(planning.keys(planning.sortedEvents)[day])}" events="planning.getEvents(planning.keys(planning.sortedEvents)[day])"
                        drop-callback="planning.dropEvent({h: $hour, m: $minutes, d: planning.keys(planning.sortedEvents)[day], entity: planning.keys(planning.sortedEvents)[day], $data: $data, $event: $event})"
                        click-callback="planning.clickCallbackWrapper({h: $hour, m: $minutes, d: planning.keys(planning.sortedEvents)[day], entity: planning.keys(planning.sortedEvents)[day]})"></zl-planning-line>
                <!-- TODO fix dopEvent and clickCallbackWrapper it can contain day of year as well as entity -->
            </div>
        </div>
    </div>
</div>

<div ng-if="planning.mode === '3day'" style="height: 100%;">
    <zl-planning-left-column mode="'day'" position="planning.position" day-field="planning.dayField" usable-days="planning.allowedDays"
                             events="planning.sortedEvents"></zl-planning-left-column>
    <div style="height: 100%; display: flex; flex-flow: row nowrap;" zl-horizontal-scroll>
        <div style="height:100%;" ng-repeat="day in planning.groupedEvents track by $index">
            <div style="height:100%; display: inline-block;">
                <div ng-style="{width: planning.width}" class="planning-body">
                    <zl-planning-top-row mode="'day'" zoom="planning.zoom" position="planning.position"
                                         day-start="planning._dayStart" day-end="planning._dayEnd"></zl-planning-top-row>
                    <p style="position: absolute; top: 25px; font-size: 1.5em; font-weight: bold; text-align: center;">{{day.day}}</p>
                    <div class="hour-cursor" ng-style="{left: planning.currentTimeToPixels()+'px'}"
                         ng-if="planning.isCurrent() && planning.isInDayRange()">
                        <div class="hour-caret"></div>
                    </div>
                    <div class="planning-2pc"></div>

                    <zl-planning-line
                            zoom="planning.zoom" position="day.date" absences="day.absences[i]"
                            day-start="planning._dayStart" day-end="planning._dayEnd"
                            ng-repeat="i in planning.keys(day.value) track by $index" class="day b-b"
                            events="day.value[i]"
                            pauses="planning.entitiesPauses[i]"
                            drop-callback="planning.dropEvent({h: $hour, m: $minutes, d: i, entity: i, $data: $data, $event: $event, day: day.key})"
                            click-callback="planning.clickCallbackWrapper({h: $hour, m: $minutes, d: i, entity: i})"></zl-planning-line>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="planning.mode ==='week-advanced'" class="advanced-week">
    <div class="days-list">
        <div class="day-advanced">&nbsp;</div>
        <div class="day-advanced" ng-repeat="day in planning.daysList" ng-click="planning.dayCallback({$day:day})">
          <span class="day-text">
              {{day | format:'dddd' | capitalize}}<br>
              <small>{{day | format:'ll'}}</small>
          </span>
        </div>
    </div>

    <div class="advanced-week-container"
         ng-repeat="name in planning.keys(planning.sortedEvents)">
        <div class="left-column-advanced">
            <span style="margin:auto">{{name}}</span>
        </div>
        <div ng-repeat="day in planning.allowedDays"
             class="day-advanced">
            <zl-planning-vertical-line day="planning.daysList[$index]"
                    zoom="planning.zoom"
                    drop-callback="planning.dropEvent({h: $hour, m: $minutes, d:day, entity: name, $data: $data, $event: $event})"
                    day-start="planning._dayStart" day-end="planning._dayEnd"
                    events=" planning.getEvents(name)[day]"
                    pauses="planning.entitiesPauses[name]" absences="planning.absences[name]"
                    click-callback="planning.clickCallbackWrapper({h: $hour, m: $minutes, d: day, entity: name})">
            </zl-planning-vertical-line>
        </div>
    </div>


</div>


<div ng-if="planning.mode === 'month'" style="height: 100%; z-index: 1000;">
    <div class="month-header">
        <span class="month-text">{{planning.month | capitalize}}</span>
    </div>
    <div class="day-header">
        <div class="day" ng-repeat="day in []|range:7"><span class="day-text">{{day | day}}</span></div>
    </div>
    <div class="month-container">
        <zl-planning-day ng-repeat="day in planning.days" day="day" events="planning._events" absences="planning.absences"
                         drop-callback="planning.dropEvent({$data: $data, $event: $event, moment: day.date})"
                         ng-dblclick="planning.clickWeekEvent(day, $event)"></zl-planning-day>
        <zl-planning-week-line ng-repeat="(week, events) in planning.multipleDaysEvents" events="events" week="week"
                               one-day-events="planning.oneDayEvents[week]"
                               style="height: 20%; pointer-events: none"></zl-planning-week-line>
    </div>
</div>
