<zl-planning-left-column mode="planning.mode" position="planning.position" day-field="planning.dayField"
                         events="planning.sortedEvents"></zl-planning-left-column>
<div class="" style="height:100%">
    <div zl-horizontal-scroll scroll-left="planning.currentTimeToPixels()" style="height:100%">
        <div class="planning-body">
            <zl-planning-top-row mode="planning.mode" position="planning.position"></zl-planning-top-row>
            <div class="hour-cursor" ng-style="{left: planning.currentTimeToPixels()+'px'}"
                 ng-if="planning.isCurrentWeek()">
                <div class="hour-caret"></div>
            </div>
            <div class="planning-2pc"></div>
                <div ng-if="!planning.sortedEvents.length" style="position:fixed;left:50%;margin:auto">{{'nothing_to_show' | strPlanning}}</div>
                <zl-planning-line ng-repeat="(i, e) in planning.sortedEvents" class="day b-b"
                                  ng-class="{today: planning.isToday(i)}" events="e"
                                    click-callback="planning.clickCallbackWrapper($hour, $minutes, i)"></zl-planning-line>
        </div>
    </div>
</div>