<div ng-controller='HomeCtrl' class="full-height">
    <div ng-style="{width: mode==='day' ? '80%': '100%' }" style="float:left;height:90%;margin-bottom: 40px;">
        <zl-planning
                usable-days="days"
                zoom="zoom"
                day-start="start" day-end="end" mode="mode || 'week'"
                day-field="'technician'" position="moment"
                events="events"
                event-callback="callback(event)"
                day-callback="dayCallback($day)"
                click-callback="clickCallback($moment)"
                week-event-callback="hello(event)"
                drop-callback="drop($data, $event, $moment, $entity)"
                ></zl-planning>
    </div>
    <div style="position: fixed; right: 10px;bottom: 5px;z-index: 100000;">
        <div ng-if="mode==='day'" style="float:left; margin-left:5px;">
            <input pikaday="pikaday" default-date="{{moment.format('MM/DD/YYYY')}}" set-default-date="true" bound="false"
                   type="hidden" on-select="onPikadaySelect(pikaday)">

        </div>
        <button ng-click="switch()">mode</button>
        <input type="number" min="5" max="15" ng-model="zoom" >
        <input type="number" min="0" max="12" ng-model="start" >
        <input type="number" min="13" max="24" ng-model="end" ><br>
        <span>Mois : </span><input type="number" min="0" max="11" ng-model="viewMonth" ng-change="init()" > <span>Events :</span><input type="number" min="0" max="20" ng-model="nbEvents" ng-change="init()" >

    </div>
    <!--DEBUG -->
    <div ng-if="mode === 'week' || mode === 'week-advanced'" style="
    position:fixed;
    right: 50%;
    bottom: 10px;
    border: 3px solid red;
    z-index: 100000;
    background-color: white;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
    padding: 15px;
">
        <h3> Jours </h3>
        <button class="btn btn-primary" ng-click="toggleDay(1-1)">Lundi</button>
        <button class="btn btn-primary" ng-click="toggleDay(2-1)">Mardi</button>
        <button class="btn btn-primary" ng-click="toggleDay(3-1)">Mercredi</button>
        <button class="btn btn-primary" ng-click="toggleDay(4-1)">Jeudi</button>
        <button class="btn btn-primary" ng-click="toggleDay(5-1)">Vendredi</button>
        <button class="btn btn-primary" ng-click="toggleDay(6-1)">Samedi</button>
        <button class="btn btn-primary" ng-click="toggleDay(7-1)">Dimanche</button>

    </div>
    <!--DEBUG -->
</div>

